:root {
    --setting-color-primary: #231fbe;
    --setting-color-secondary: goldenrod;
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: .5em;
}
#mineCounter{
    top:50px;
    left: 20px;
    position: absolute;
}
.grid-item{
    border: 4px outset rgb(214, 214, 214);
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0;
}
.grid-item:hover{
    border-style: inset;
}
.grid-container{
    position: relative;
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
}
.empty-cell, .clicked{
    background-color: lightgrey;
    border-style: inset;
}
.flag::after{
    content: "🚩";
}
.game-over, .you-won{
    pointer-events: none;
}
.game-over > .mine{
    background-color: red;
}
.game-over > .mine::after{
    content: "💣";
}
.you-won > .mine{
    background-color: green;
}
div[data-mine-count = "1"]{
    color: blue;
}
div[data-mine-count = "2"]{
    color: green;
}
div[data-mine-count = "3"]{
    color: red;
}
div[data-mine-count = "4"]{
    color: darkblue;
}
div[data-mine-count = "5"]{
    color: maroon;
}
div[data-mine-count = "6"]{
    color: teal;
}
div[data-mine-count = "7"]{
    color: purple;
}
div[data-mine-count = "8"]{
    color: black;
}

div[data-mine-count = "1"]::after{
    content: "1";
}
div[data-mine-count = "2"]::after{
    content: "2";
}
div[data-mine-count = "3"]::after{
    content: "3";
}
div[data-mine-count = "4"]::after{
    content: "4";
}
div[data-mine-count = "5"]::after{
    content: "5";
}
div[data-mine-count = "6"]::after{
    content: "6";
}
div[data-mine-count = "7"]::after{
    content: "7";
}
div[data-mine-count = "8"]::after{
    content: "8";
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.sidebar{
    padding:10px;
}
.sidebar > *{
    margin: 10px 0;
}

button{
    box-sizing: border-box;
    width:100%;
    border-radius: 3px;
    outline: hidden;
    border-style: hidden;
    background-color: var(--setting-color-secondary);
    padding: 10px;
    font-size: 1.2em;
    opacity: 0.7;
    transition: background-color .2s;
}

button:hover{
    opacity: 1;
    background-color: var(--setting-color-primary);
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--setting-color-secondary);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--setting-color-primary);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--setting-color-primary);
  cursor: pointer;
}