:root {
    --setting-color-primary: #231fbe;
    --setting-color-secondary: goldenrod;
    --no-hover-opacity:0.7;
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: .5em;
}
#mineCounter{
    padding: 10px;
    font-size: larger;
}
#option{
    left: 20px;
    position: absolute;
}
.difficulty{
    left: 80px;
    position: absolute;
}
.grid-item{
    border: 4px outset rgb(214, 214, 214);
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0;
}
.grid-item:hover{
    border-style: inset;
}
.grid-container{
    position: relative;
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
}
.empty-cell, .clicked{
    background-color: lightgrey;
    border-style: inset;
}

.flag:hover{
    border-style: outset;
}
.flag::after{
    content: "🚩";
}
.game-over, .you-won{
    pointer-events: none;
}
.game-over > .mine{
    background-color: red;
}
.game-over > .mine::after{
    content: "💣";
}
.you-won > .mine{
    background-color: green;
}
div[data-mine-count = "1"]{
    color: blue;
}
div[data-mine-count = "2"]{
    color: green;
}
div[data-mine-count = "3"]{
    color: red;
}
div[data-mine-count = "4"]{
    color: darkblue;
}
div[data-mine-count = "5"]{
    color: maroon;
}
div[data-mine-count = "6"]{
    color: teal;
}
div[data-mine-count = "7"]{
    color: purple;
}
div[data-mine-count = "8"]{
    color: black;
}
div[data-mine-count = "1"]::after{
    content: "1";
}
div[data-mine-count = "2"]::after{
    content: "2";
}
div[data-mine-count = "3"]::after{
    content: "3";
}
div[data-mine-count = "4"]::after{
    content: "4";
}
div[data-mine-count = "5"]::after{
    content: "5";
}
div[data-mine-count = "6"]::after{
    content: "6";
}
div[data-mine-count = "7"]::after{
    content: "7";
}
div[data-mine-count = "8"]::after{
    content: "8";
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.sidebar{
    padding:10px;
}
.sidebar > *{
    margin: 10px 0;
}

button{
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    outline: hidden;
    border-style: hidden;
    background-color: var(--setting-color-secondary);
    padding: 10px;
    font-size: 1.2em;
    opacity: var(--no-hover-opacity);
    transition: background-color .2s;
}
button:hover{
    opacity: 1;
    background-color: var(--setting-color-primary);
}

/* custom slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--setting-color-secondary);
  outline: none;
  opacity: var(--no-hover-opacity);
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--setting-color-primary);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--setting-color-primary);
  cursor: pointer;
}

input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

}
input[type="radio"]:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;

}

/* radio buttons style */
.difficulty-selector {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.difficulty-selector input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--setting-color-secondary);
    border-radius: 50%;
    opacity: var(--no-hover-opacity);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* On mouse-over, add a grey background color */
.difficulty-selector:hover input~.checkmark {
    background-color: var(--setting-color-secondary);
    opacity: 1;
}

/* When the radio button is checked, add a blue background */
.difficulty-selector input:checked~.checkmark {
    background-color:var(--setting-color-primary);
    opacity: 1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.difficulty-selector input:checked~.checkmark:after {
    display: block;
    opacity: 1;
}

/* Style the indicator (dot/circle) */
.difficulty-selector .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--setting-color-primary);
}